version: "3.9"

services:
  db:
    image: postgres:16
    container_name: application-postgres-db
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${PGDATABASE}
      POSTGRES_USER: ${PGUSER}
      POSTGRES_PASSWORD: ${PGPASSWORD}
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./sql:/docker-entrypoint-initdb.d
      


  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: item-category-app
    restart: unless-stopped
    depends_on:
      - db
    env_file:
      - .env
    environment:
      PGHOST: db
    ports:
      - "3000:3000"

volumes:
  postgres_data: